<header class="page-header">
    <h1></h1>
  </header>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          About Us
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
          Welcome to The Jungle, your premier destination for discovering and acquiring a wide array of exotic and rare plants from lush jungles around the world! We're passionate about bringing the beauty and diversity of jungle flora directly to your doorstep, providing enthusiasts and collectors with access to an unparalleled selection of botanical treasures. With our commitment to quality, sustainability, and customer satisfaction, we strive to make your plant-buying experience a seamless and delightful journey. Whether you're a seasoned plant aficionado or a newcomer to the world of indoor gardening, we're here to inspire, educate, and support you every step of the way.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Our Goal
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
        At The Jungle, our goal is to connect plant lovers with the enchanting wonders of the jungle while promoting sustainability and environmental stewardship. We are dedicated to sourcing our plants ethically and responsibly, ensuring that they are cultivated and harvested in ways that respect and preserve their natural habitats. By offering a diverse range of plants, including rare and endangered species, we aim to raise awareness about the importance of conservation and inspire our customers to become advocates for the protection of jungle ecosystems. Through our platform, we strive to foster a deeper appreciation for the beauty and diversity of plants, while also contributing to the preservation of these invaluable natural resources for future generations to enjoy.
        </div>
      </div>
    </div>
  </div>